---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About SatCom</h1>
			<p>
				With over 25 years of experience, we combine industry expertise with a personalized approach to solve your technology challenges. At SatCom, it’s not just about the services we provide—it’s about the trust and partnerships we build with our clients. Let us help you navigate the ever-evolving world of technology with confidence.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
      Founded in 1998, SatCom has been dedicated to providing cutting-edge technology solutions for over two decades. 
      What started as a passion for technology has grown into a trusted partner for businesses and individuals 
      seeking reliable and innovative IT services.
  </p>
  <h3>Our Specialties</h3>
  <ul>
      <li><strong>Residential and Commercial IT Services:</strong> Tailored solutions to meet the unique needs of homes and businesses.</li>
      <li><strong>Telecommunications and Phone Systems:</strong> Reliable and scalable solutions to meet the communication needs of your growing business.</li>
      <li><strong>Security and Surveillance Systems:</strong> Comprehensive CCTV, access control, and advanced security solutions to protect what matters most.</li>
      <li><strong>Graphics and Web Design:</strong> Creating stunning visual identities and user-friendly websites to elevate your brand and online presence.</li>
  </ul>
  <p>
      Regardless of our specialties, we pride ourselves on delivering <strong>custom technology solutions</strong> 
      to meet the unique challenges of every client. From small businesses to government agencies, 
      our team provides the expertise, reliability, and personal attention needed to achieve success.
  </p>
  </TextSection>
</Layout>
