---
import ContactForm from '../../components/forms/ContactForm.astro';
import Layout from '../../layouts/Page.astro';
import { Container, Button } from '@components/odyssey-theme';
import { Icon } from 'astro-icon/components';

const seo = {
	title: 'Contact | Astro Odyssey Theme',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>New Clients</h1>
				<p>
					We’re excited to hear from you. Whether you’re looking for IT support, business phones, networking, or security solutions — we’re here to help. Reach out today and let’s discuss how SatCom can support your goals.
				</p>
				<div>
					<p>
						<em>Main line: <a href="tel:3182561213">(318)256-1213</a></em></br>
						<em>Email Sales: <a href="mailto:sales@1satcom.com">sales@1satcom.com</a></em>
					</p>
					<p>
							<Button href="https://satcom.timezest.com/sales" customIcon
			>Schedule a consultation
			<Fragment slot="icon">
 			 <Icon name="ic:baseline-chevron-right"/>
				</Fragment>
				</Button>
							
						
					</p>
					
				</div>
			</div>
		<div class="contact-hero__text-section">
			<div>
				<h1>Existing Clients</h1>
				<p>
					Already working with us? Reach out to our support team for service requests, troubleshooting, or account questions. We’re ready to help keep your business running smoothly.
				</p>
				<p>
					<em>Main line: <a href="tel:3182561213">(318)256-1213</a></em></br>
					<em>Voicemail to ticket: <a href="tel:3182561239">(318)256-1239</a></em></br>
					<em>Support email: <a href="mailto:support@1satcom.com">support@1satcom.com</a></em>
				</p>
				<p>
						<Button href="https://satcom.timezest.com/service-team" customIcon
		>Schedule a service call
		<Fragment slot="icon">
		  <Icon name="ic:baseline-chevron-right"/>
			</Fragment>
			</Button>
						</em
					>
				</p>
				
			</div>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
