---
import { Container, FeatureCard, ThreeColumnTextSection, StickyTextImageSection, CtaCardSection, Button, } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { Icon } from 'astro-icon/components';
---

<Layout>
	<HomeHeroSection />
	


	<Container>
		<ThreeColumnTextSection>
			<div slot="column-1-body">
				<h2>Comprehensive IT Management</h2>
				<p>
					We provide tailored IT solutions to keep your business running smoothly. From system maintenance to proactive support, our team ensures your technology works for you, not against you.
				</p>
			</div>
			<!--<Button slot="column-1-cta">Learn More</Button>-->
			<div slot="column-2-body">
				<h2>Security Solutions</h2>
				<p>
					Safeguard your business with top-tier security services. We deliver state-of-the-art surveillance systems, robust network protection, and strategies to keep your operations secure.
				</p>
			</div>
			<!--<Button slot="column-2-cta" outlined>Learn More</Button>-->
			<div slot="column-3-body">
				<h2>Creative Design Solutions</h2>
				<p>
					Make your brand stand out with stunning graphics and user-friendly web design. We create visual identities and digital experiences that leave a lasting impression.
				</p>
			</div>
			<!--<Button slot="column-3-cta">Learn More</Button>-->
		</ThreeColumnTextSection>
	</Container>

	<Container>
		<StickyTextImageSection>
			<div slot="text-container">
				<h2>Features</h2>
				<h3>Reliable IT Solutions</h3>
				<p>
					We take the complexity out of IT with dependable services, keeping your business running efficiently and stress-free.
				</p>
				<h3>Smart Security Systems</h3>
				<p>
					Protect your assets with cutting-edge surveillance and network security, designed to safeguard what matters most.
				</p>
				<h3>Seamless Connectivity</h3>
				<p>
					Enhance communication and collaboration with tailored phone systems and optimized networking solutions.
				</p>
			</div>
			<picture slot="image-container">
				<img
					src="/assets/images/landing-1/networkcable.webp"
					alt="Astro Odyssey"
					loading="lazy"
				/>
			</picture>
		</StickyTextImageSection>
	</Container>

	<Container>
		<CtaCardSection
		background="var(--theme-surface-2)"
		color="var(--theme-on-surface-2)"
	>
		<h2>Take the First Step Toward Smarter IT Solutions</h2>
		<p>
			Ready to elevate your business with expert IT support, advanced security, and innovative design? Contact us today and discover how SatCom can help your business thrive.
		</p>
		<Button href="https://satcom.timezest.com/sales" customIcon
			>Get a sales consultation <Fragment slot="icon">
				<Icon name="ic:baseline-request-quote" />
			</Fragment></Button
		>
	</CtaCardSection>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
